In [1]:
# Importing Pandas
import pandas as pd

Introduction
Pandas is an essential Python library used for data manipulation and analysis. It provides two main data structures:

Series – One-dimensional labeled array

DataFrame – Two-dimensional labeled data table

In [2]:
# Creating a Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85, 90, 95]
}
df = pd.DataFrame(data)
df

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95

In [4]:
print("Shape:", df.shape)
print("Columns:", df.columns)
print("Index:", df.index)
print("Data Types:\n", df.dtypes)

Shape: (3, 3)
Columns: Index(['Name', 'Age', 'Score'], dtype='object')
Index: RangeIndex(start=0, stop=3, step=1)
Data Types:
 Name     object
Age       int64
Score     int64
dtype: object

In [5]:
df.head()        # First 5 rows
df.tail(2)       # Last 2 rows
df.info()        # Summary info
df.describe()    # Statistical summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Score   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

        Age  Score
count   3.0    3.0
mean   30.0   90.0
std     5.0    5.0
min    25.0   85.0
25%    27.5   87.5
50%    30.0   90.0
75%    32.5   92.5
max    35.0   95.0

In [6]:
# Selecting a column
print("Name Column:\n", df['Name'])

# Row by position
print("Second Row:\n", df.iloc[1])

# Row by label
print("Row with index 0:\n", df.loc[0])

# Conditional filtering
print("Scores > 85:\n", df[df['Score'] > 85])

Name Column:
 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
Second Row:
 Name     Bob
Age       30
Score     90
Name: 1, dtype: object
Row with index 0:
 Name     Alice
Age         25
Score       85
Name: 0, dtype: object
Scores > 85:
       Name  Age  Score
1      Bob   30     90
2  Charlie   35     95

In [7]:
# Add new column
df['Passed'] = df['Score'] > 90

# Modify existing column
df['Score'] = df['Score'] + 5
df

      Name  Age  Score  Passed
0    Alice   25     90   False
1      Bob   30     95   False
2  Charlie   35    100    True