In [1]:
# Importing Pandas
import pandas as pd

Introduction
Pandas is an essential Python library used for data manipulation and analysis. It provides two main data structures:

Series – One-dimensional labeled array

DataFrame – Two-dimensional labeled data table

In [2]:
# Creating a Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [3]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85, 90, 95]
}
df = pd.DataFrame(data)
df

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95